/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
 body {
	width: 876px;
	margin: 0 auto;
}

header {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

header nav a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 60px;
}

nav {
	width: 100%;
}

nav a{
	margin-right: 30px;
	text-decoration: none;
	font-size: 22px;
	height: 100%;
	color: #DDDDDD;
}

.main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5%;
}

.main-content button {
	font-size: 20px;
	width: 150px;
	background: white;
	padding: 2%;
}

.middle-section {
	display: flex;
	align-content: space-evenly;
}

.middle-content-top {
	width: 50%;
	margin-bottom: 5px;
	padding: 5px;
}

.middle-picture {
	align-content: center;
}

.bottom-section {
	display: flex;
	align-content: space-between;
}

.bottom-content {
	padding: 5px;
}

footer .home-footer{
	display: flex;
	flex-direction: column;
	padding: 5px;
}

/* Services Page */

.services {
	border: 1px solid red;
	padding: 10px 0;
}

.services-header-img {
	max-width: 100%;
}

.grid {
	max-width: 100%;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid yellow;
}

.grid-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 48%;
	border: 1px solid red;
	margin-bottom: 25px;
}

.service-footer {
	display: flex;
	border: 1px solid red;
	align-items: center;
	justify-content: space-between;
}

.footer-content {
	display: flex;
	width: 50%;
	border: 1px solid orange;
	flex-direction: column;
	height: 300px;
}

footer .left {
	padding-left: 5px;
}

.services-info-img {
	max-width: 100%;
}

li {
	list-style: square;
}
